html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: url(../assets/img5.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#add-task-container {
  width: 350px;
  padding: 20px 10px;
  background-color: rgba(233, 211, 178, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 5px;
  display: flex;
}
input {
  flex: 5;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 6px;
  background-color: rgba(233, 211, 178, 0.39);
}
#add-task {
  flex: 1;
  transition: 0.2s;
  font-size: 1.2rem;
  padding: 3px;
  color: black;
  cursor: pointer;
}
button:hover {
  background-color: rgb(160, 240, 0);
}

.task {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 2px;
  padding-top: 5px;
}
footer {
  padding-top: 1em;
}
footer div {
  display: inline;
  -ms-flex-direction: row;
  border: thin solid lightsalmon;
  border-radius: 5px;
  padding: 3px;

  cursor: pointer;
  box-shadow: 0 0 2px;
}

footer div:hover {
  background-color: rgba(218, 149, 39, 0.9);
}
footer div a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: thin solid 2px;
  font-weight: bolder;
  letter-spacing: 1px;
}
#task-container {
  margin: 20px;
}
.task li {
  margin: 10px;
  list-style: none;
  flex: 4;
  font-size: 1rem;
  text-transform: capitalize;
}
